

/* Media query para pantallas de 992px o menos */
@media (max-width: 992px) {


    /* menu */
    .navbar {
        gap: 30px;
    }

    .navbar-list {
        position: absolute;
        top: 150px;
        left: 5%;
        right: 5%;
        flex-direction: column;
        width: 90%;
        background-color: var(--fondo);
        padding: 45px 0;
        border: 2px solid var(--detalles);
        border-top: 0;
        border-radius: 0 0 15px 15px;
        display: none;
    }

    .navbar-list a {
        font-size: 18px;
    }

    .menu-label {
        display: flex;
        order: 2;
    }

    
    #menu-toggle:checked + .navbar-list {
        display: flex;
    }

    .mapa {
        height: 100vh;
        
    }
    #Inicio {
        flex-direction: column;
        gap: 30px;

    }

    .juegos-populares {
        flex: 1 1 35%;
        width: auto;
    }

    .active {
        display: none;
    }

    .product-content {
    grid-template-columns: 1fr;
    gap: 20px;
    }

    /* footer */
    .menu-elemt {
        display: flex;
        flex-direction: column;
    }
}



@media (max-width: 450px) {
    .product-content {
        width: 80%;
    }
}

