.iniciar-sesion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-image: url(../assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.titulo-inicio {
    color: var(--secondary);
    font-size: 20px;
    margin-top: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.form-input {
    padding: 15px 50px;
    margin: 20px 10px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 17px;

}

.form-input::placeholder {
    color: var(--primary);
}

.cuenta-creada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: var(--secondary);
}
